{% extends "html5-boilerplate.html"%}

{% block 'html-lang' %}pt-br{% endblock %}
{% block 'meta-charset' %}utf-8{% endblock %}
{% block 'page-title' %}Riddles{% endblock %}
{% block 'meta-description' %}Quess what!!{% endblock %}
{% block 'meta-keywords' %}riddle, quess, question, answer, challenges{% endblock %}

{% block 'meta-autor' %}Felipe Arruda Pontes{% endblock %}
{% block 'meta-generator' %}Django 1.5{% endblock %}

{% block 'meta-extras' %}{% endblock %}

{% block 'no-analytics' %}{% endblock %}


